<a href="https://colab.research.google.com/github/rezakongo/Fundamental_of_Data-Science/blob/main/Assignments/HW1/Data_Science_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Item_Item Based Collaborative Filtering

##Q1

<div dir=rtl>
در مرحله اول Recommender System را تعریف میکنیم و سپس به تعریف سیستم‌های توصیه‌گر user_based و item_based میپردازیم و تفاوت‌های آنها را بیان می‌کنیم.
طبق تعریف در منابع موجود، سامانه توصیه‌گر یا Recommender System به سیستم‌هایی گویند که با تحلیل رفتار کاربر خود اقدام به معرفی و توصیه بهترین اقلام اعم از اطلاعات و داده و کالا و از این قبیل می‌نماید. 

حال صورت سوال رویکرد item_based را مورد بررسی قرار داده است که در ادامه این روش را بیان کرده و با رویکرد user_based مقایسه میکنیم.

در رویکرد user_based ، الگوریتم برای یک آیتم i توسط کاربر u با ترکیب رتبه‌بندی‌های دیگر کاربران  که مشابه u هستند، رتبه‌بندی می‌کند. مشابه در اینجا به این معنی است که رتبه‌بندی دو کاربر دارای همبستگی پیرسون یا شباهت کسینوسی یا چیزی مشابه است.

در رویکرد item_based، ما یک رتبه‌بندی برای آیتم i توسط کاربر u با نگاه کردن به مجموعه‌ای از آیتم‌های مشابه به i که u رتبه‌بندی کرده‌است پیشبینی
</div>

##Q2

<div dir=rtl>
از معیار شباهت کسینوسی به عنوان یک راه برای حل مشکل فاصله اقلیدسی در ابعاد بالا استفاده می‌کنند. فاصله بین دو نقطه در معیار شباهت کسینوسی به طور ساده کسینوس زاویه بین دو نقطه (بردار) است. این فاصله رو میتوان با ضرب نقطه‌ای بین دو بردار بدست آورد، به شرط اینکه هر دوبردار نرمال شوند.

اگر دو بردار دقیقا در یک جهت (راستا) باشند در این صورت شباهت کسیونسی آنها برابر یک خواهد بود.  و اگر جهت دو بردار کاملا متضاد هم باشد در این صورت شباهت کسینوسی آنها برابر منفی یک خواهد بود. به این نکته توجه کنیم که دامنه بردار‌ها اهمیتی در این معیار فاصله ندارد و فقط جهت بردارها اهمیت دارد.

###معایب تشابه کسینوسی 
یکی از معایب تشابه کسینوسی این است که دامنه بردارها اهیمت ندارند و در پروسه محاسبه فاصله مورد استفاده قرار نمی‌گیرند. در عمل، این بدان معنی است که تفاوت در مقادیرها به طور کامل در نظر گرفته نمی‌شود. به عنوان مثال اگر سیستم پیشنهاد دهنده را در نظر بگیرید، در تشابه کسینوس اختلاف مقیاس رتبه‌بندی بین کاربران مختلف در نظر گرفته نمی‌شود.
</div>

<div dir=rtl>
در ابتدای کار نیاز است جهت محاسبات ماتریسی، کتابخانه Numpy را میبایست Import کنیم.
</div>

In [ ]:
import numpy as np

<div dir=rtl>
در ادامه باید تابعی را پیاده‌سازی کنیم که دو بردار را ورودی گرفته و در خروجی فاصله‌ی کسینوسی آندو را برگرداند.
</div>

In [ ]:
def cosine_similarity(vector_0, vector_1):
  cos_sim=np.dot(vector_0, vector_1)/(np.linalg.norm(vector_0)*np.linalg.norm(vector_1))
  return cos_sim

<div dir=rtl>
در نهایت این تابع را با دو ورودی ساده تست میکنیم.
</div>

In [ ]:
cosine_similarity(np.array([5,3,2]),np.array([1,2,3]))

0.7370434740955021

##Q3

<div dir=rtl>
جهت انجام عملیات روی داده‌ها باید از کتابخانه pandas استفاده کنیم بدین منظور این کتابخانه را import می‌کنیم.
</div>

In [ ]:
import pandas as pd

<div dir=rtl>
در ادامه اقدام به دو dataset داده شده یعنی item_data و user_data میکنیم
</div>

In [ ]:
item_df=pd.read_csv("/content/item-data.csv")
item_df.columns=["code","description"]
item_df.set_index("code",inplace=True)

user_df=pd.read_csv("/content/user-item.csv")
user_df.columns=["code","item","number","time"]

<div dir=rtl>
به جهت نمایش ۱۰ سطر اول user_data را نشان میدهیم.
</div>

In [ ]:
user_df[:10]

    code   item  number                       time
0  49723  23395       3  2020-09-18T20:11:04+05:30
1  49723  23396       3  2020-09-18T20:11:04+05:30
2  31336  20976       3  2020-09-18T20:08:30+05:30
3  49721  19853       3  2020-09-18T20:02:20+05:30
4  49721  19860       3  2020-09-18T20:02:20+05:30
5  49721  19861       3  2020-09-18T20:02:20+05:30
6  29987  20976       3  2020-09-18T20:00:11+05:30
7  49722  22136       3  2020-09-18T19:59:44+05:30
8  49722  22133       3  2020-09-18T19:59:44+05:30
9  49722  22134       3  2020-09-18T19:59:44+05:30

<div dir=rtl>
در ادامه از داده‌های کاربران سبد‌های خرید را بر اساس کد کاربر و زمان خرید ایجاد میکنیم. تنها نیاز است با متد groupby بر اساس این دو پارامتر روی داده‌ها گروه‌بندی انجام دهیم.

توجه کنید که به علت نوع سیستم توصیه‌گر نوشته شده از این گروه بندی استفاده نمیگردد. چرا که ما قصد داریم روی تمامی خرید های هر کاربر پایش انجام دهیم و همچنین شباهت کاربران و کالاها را در کنار هم مورد بررسی قرار دهیم. بنابراین یک سیستم توصیه گر ترکیبی از دو رویکرد user_based و item_based خواهیم داشت.
</div>

In [ ]:
baskets = user_df.groupby(['code', 'time'])
baskets.first()

                                  item  number
code  time
123   2020-07-06T11:19:39+05:30  17230       3
      2020-09-17T20:16:42+05:30  18771       3
124   2020-06-29T16:31:02+05:30  19874       3
      2020-06-29T16:34:11+05:30  19874       3
      2020-06-29T16:50:32+05:30  19874       3
...                                ...     ...
49715 2020-09-18T19:07:58+05:30  21678       3
49719 2020-09-18T19:47:14+05:30  21960       3
49721 2020-09-18T20:02:20+05:30  19853       3
49722 2020-09-18T19:59:44+05:30  22136       3
49723 2020-09-18T20:11:04+05:30  23395       3

[3485 rows x 2 columns]

##Q4

<div dir=rtl>
قصد داریم به هر آیتم یک بردار نسبت دهیم تا به کمک آنها بتوانیم طبق توضیحات آنها شباهت آنها را پیدا کنیم. یکی از بدترین روش‌ها استفاده از one_hot encoding است. در واثع ما به هر کلمه موجود در توضیحات یک بردار نسبت می‌دهیم که ۱ عنصر آن برابر ۱ و بقیه عناصر آن برابر صفر هستند.
</div>

In [ ]:
one_hot_encoding={}
words_set=set()

for item_description in item_df["description"][:]:
  for word in item_description.split(' '):
    words_set.add(word)

words_set=list(words_set)
for i in range(len(words_set)):
  one_hot=np.zeros(len(words_set))
  one_hot[i]=1
  one_hot_encoding[words_set[i]]=one_hot

<div dir=rtl>
 حال نیاز است که به کل توضیحات یک کالا هم یک بردار نسبت دهیم بنابراین میتوانیم از حاصل جمع بردار‌های کلمات موجود در توضیحات کالا استفاده کنیم. برای همین به این روش ما میتوانیم برای هر کالا طبق توضیحات آن یک one_hot vector نسبت دهیم.
</div>

In [ ]:
def apply_one_hot_to_df(description):
  incoding=np.zeros(len(words_set))
  for word in description.split():
    incoding+=one_hot_encoding[word]
  
  return incoding


item_df['one_hot']=item_df['description'].apply(apply_one_hot_to_df)

In [ ]:
item_df

,description,one_hot
code,,
19002,Farm Naturelle-100 Pure Virgin-organic Coconut...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
19003,Farm Naturelle-100 Pure Virgin-organic Coconut...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
19004,Farm Naturelle-100 Pure Virgin-organic Coconut...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
19005,Farm Naturelle-100 Pure Virgin-organic Coconut...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
19006,Farm Naturelle-100 Pure Virgin Organic Coconut...,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...
23514,TIRUPATI KACHI GHANI 1 LTR,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
23515,ANKUR GROUNDNUT OIL 1 LTR BOTTLE,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
23516,ANKUR GROUNDNUT OIL 500 LTR BOTTLE,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
23517,KORNDROP 15 KG,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
23518,1,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

<div dir=rtl>
در نهایت تابعی مینویسیم که با دریافت کد ۲ کالا بتواند شباهت آنها را پیدا کند.
</div>

In [ ]:
def item_similarity(item0,item1):
  return cosine_similarity(item_df.loc[item0]['one_hot'],item_df.loc[item1]['one_hot'])

In [ ]:
print(item_similarity(19006,19011))

0.5345224838248487

##Q5

<div dir=rtl>
حال قصد داریم یک سامانه توصیه‌گر طراحی کنیم. با این تفاوت که این سامانه تنها item_based نیست بلکه تلفیقی است از رویکرد item_based و user_based.

بدین جهت ابتدا نزدیک ترین user ها به user مورد بررسی را پیدا می‌کند و در ادامه از item های خریداری شده توسط آنها مشابه ترین کالا ها را انتخاب کرده و پیشتهاد میدهد.
</div>

<div dir=rtl>
در ابتدا چون که ما میخواهیم کل داده ها را برای user بگیریم در واقع تمامی کالا های خریداری شده را داشته باشیم از گروه بندی قسمت دوم استفاده نمیکنیم. بلکه یک دیکشنری ساخته و تمامی کالا‌های حریداری شده توسط هر کاربر را در یک لیست ذخیره می‌کنیم.
</div>

In [ ]:
uh=user_df.groupby("code")
user_purchases={}
user_encoding={}

for name, entries in uh:
    purchased=set()
    for item in entries['item']:
      purchased.add(item)
    
    user_purchases[name]=list(purchased)

<div dir=rtl>
حال نیاز است به هر کاربر ۲ عدد encoding اختصاص بدهیم.

یکی از encoding ها وظیفه مقایسه با سایر کاربران را دارد و دیگری وظیفه مقایسه با کالا‌ها را دارد.

در encoding اول ما نیاز داریم که با سایر کاربران مقایسه کنیم برای همین از حاصل جمع بردار‌های کالا‌های خریداری شده استفاده کنیم.

در encoding دوم نیاز است که بتوانیم کالا ها را از روی آن تخمین بزنیم برای همین از میانگین بردار‌های کالا‌های خریداری شده استفاده می‌کنیم.
</div>

In [ ]:
def get_user_orders_sum_encoding(user_id):
  items=[]
  for item in user_purchases[user_id]:
    if item in item_df.index:
      items.append(item_df.loc[item]['one_hot'])

  items=np.array(items)
  items=np.sum(items, axis=0)
  items = np.where(items >= 1, 1, 0)
  return items

In [ ]:
def get_user_orders_avg_encoding(user_id):
  items=[]
  for item in user_purchases[user_id]:
    if item in item_df.index:
      items.append(item_df.loc[item]['one_hot'])

  items=np.array(items)
  items=np.average(items, axis=0)
  return items

<div dir=rtl>
در ادامه یک مجموعه داده فیلتر شده نیاز داریم. در این مجموعه داده تنها کد کاربران به همراه ۲ نوع encoding که در قسمت قبل مورد بررسی قرار گرفت وجود دارد.

همچنین یک فیلترینگ ساده روی داده ها اعمال میکنیم که داده های پرت از بین بروند. برای مثال کاربرانی که هیچ کالایی خریداری نکرده اند خذف میشوند و باید به صورت تصادفی یا پر کردن فرم به آنها توضیه صورت بگیرد.
</div>

In [ ]:
user_encoding_df=pd.DataFrame(user_df['code'])
user_encoding_df=user_encoding_df.drop_duplicates(subset=['code'])
user_encoding_df['sum_encoding']=user_encoding_df['code'].apply(get_user_orders_sum_encoding)
user_encoding_df['avg_encoding']=user_encoding_df['code'].apply(get_user_orders_avg_encoding)
user_encoding_df['sum_t']=user_encoding_df['sum_encoding'].apply(lambda x: isinstance(x,int))
user_encoding_df=user_encoding_df[user_encoding_df.sum_t==False]
user_encoding_df=user_encoding_df.set_index('code')
user_encoding_df=user_encoding_df.drop(columns=['sum_t'])
user_encoding_df

/usr/local/lib/python3.9/dist-packages/numpy/lib/function_base.py:495: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)

,sum_encoding,avg_encoding
code,,
49723,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
31336,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
49721,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
29987,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
49722,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...
40103,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
40102,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
40099,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
40095,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2895,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

<div dir=rtl>
چون در سیستم توصیه گر نوشته شده رویکرد ترکیبی پیش گرفته شده است، نیاز است که n کاربر مشابه بدست آیند؛ بدین منظور تابعی نوشتیم که با استفاده از encoding نوع حاصل جمع و فاصله کسینوسی بین آنها n کاربر مشابه را پیدا میکند.
</div>

In [ ]:
def get_most_similar_users(user_id, n):
  current_user_sum_encoding=user_encoding_df.loc[user_id,'sum_encoding']
  current_user_df=user_encoding_df[user_encoding_df.index!=user_id]
  current_user_df['similarity']=current_user_df['sum_encoding'].apply(lambda x: cosine_similarity(x,current_user_sum_encoding))
  current_user_df=current_user_df.sort_values(by='similarity', ascending=False)
  return list(current_user_df.iloc[:n].index)

In [ ]:
get_most_similar_users(49723,5)

<ipython-input-181-573c024e20b1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_user_df['similarity']=current_user_df['sum_encoding'].apply(lambda x: cosine_similarity(x,current_user_sum_encoding))

[49050, 49284, 31336, 2138, 35481]

<div dir=rtl>
در نهایت باید تابعی بنویسیم که طبق n کاربر مشابه و کالاهای خریداری شده توسط آنها، کالا‌های جدیدی را به کاربر توصیه کند. بدین منظور در این تابع ابتدا n کاربر مشابه را توسط تابع نوشته شده در قسمت قبل پیدا میکند؛ در ادامه تمامی کالا‌های خریداری شده توسط آنها که کاربر کنونی خریداری نکرده را در یک لیست ذخیره می‌کند. سپس آنها را بر اساس مشابهت با encoding مبتنی بر میانگین کاربر مرتب میکند و بر اساس مشابهت m کالای مشابه را برمیگرداند.
</div>

In [ ]:
def get_most_similar_items(user_id,similar_users_number ,similar_items_number):
  current_user_avg_encoding=user_encoding_df.loc[user_id,'avg_encoding']
  similar_users=get_most_similar_users(user_id,similar_users_number)
  recommended_items={}
  for user in similar_users:
    for item in user_purchases[user]:
      if(not item in user_purchases[user_id]):
        recommended_items[item]=cosine_similarity(item_df.loc[item]['one_hot'],current_user_avg_encoding)
  recommended_items=dict(sorted(recommended_items.items(), key=lambda item: item[1],reverse=True))
  return list(recommended_items.keys())[:similar_items_number]

In [ ]:
get_most_similar_items(49723,10,5)

<ipython-input-181-573c024e20b1>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_user_df['similarity']=current_user_df['sum_encoding'].apply(lambda x: cosine_similarity(x,current_user_sum_encoding))

[23003, 23002, 19497, 19632, 19633]